module.exports = {
    apps : [
      {
        name: "<app-name>",
        script: "./index.js",
        watch: "true",
        ignore_watch : ["node_modules","npm-debug.log","package-lock.json"]
        instances : "max",
        exec_mode : "cluster",
        env: {
            "PORT": "<webApp PORT>", //default is 3006
            "NODE_ENV": "production"
        }
      }
    ]
  };