<link rel="stylesheet" href="css/sign-on.css">
<section class="section">
    <div class="container box">

        <img src='assets/WPP_Logo.png'>
        <!--Start of Login form -->
        <h1 class="subtitle is-4 has-text-centered has-text-white">
            Two Factor Auth
        </h1>
        <iframe id="duo_iframe">
        </iframe>
        
    </div>
</section>

<script src="/js/Duo-Web-v2.js"></script>
<script>

    signedResponse = "{{{duoSig}}}"
    console.log(signedResponse)

  Duo.init({
    'host': 'api-3d03e7b6.duosecurity.com',
    'sig_request': signedResponse,
  });

</script>