html { 
    background: url(../assets/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
      background-size: cover;
      
  }
  .box{
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 600px;
      background-color: rgb(255, 255, 255);  
      backdrop-filter: blur(7px);
      padding: 40px
  }
  iframe{
      margin: 0 auto;
      width: 100%;
      height: 400px;
  }

  .WPPColor{
    color: #191D63;
  }
  .has-background-meraki{
      background-color: #78BB41;
  }