<!-- Sign on page for Okta SSO -->

<link href="/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
<link href="/css/sign-on-okta.css" type="text/css" rel="stylesheet"/>

<section class="section">
<div id="widget-container"></div>
</section>

<script src="/js/okta-sign-in.min.js" type="text/javascript"></script>
<script>
  var config = {
    baseUrl: '{{{baseUrlOKTA}}}',
    logo: '/assets/WPP_Logo_OKTA.png'
  }

  var signIn = new OktaSignIn(config);
  signIn.renderEl({
    el: '#widget-container'
  }, function success(res) {
    if (res.status === 'SUCCESS') {
      
    let successURL = '{{{successURL}}}' + '/' + res.session.token
    console.log(successURL)

      res.session.setCookieAndRedirect(successURL);
      console.log('Do something with this sessionToken', res.session.token);
    
    } else {
    // The user can be in another authentication state that requires further action.
    // For more information about these states, see:
    //   https://github.com/okta/okta-signin-widget#rendereloptions-success-error
    }
  });


  
</script>