<link rel="stylesheet" href="css/sign-on.css">
<section class="section">
    <div class="container box">
        <div class="columns is-vcentered">
            <div class="column">
                <img src='assets/WPP_Logo.png'>
            </div>
            <div class="column">
                <img class='is-hidden-mobile' src='assets/Meraki_Logo.png'>
            </div>
            <!--Start of Login form -->
        </div>



        <form action="/stageTwo" method="post">

            {{#if error}}
            <div class="field">
                <span class="tag is-danger">
                    <span class="icon is-small is-left">
                        <i class="fa fa-warning"></i>
                    </span>  
                    <p>Incorrect Login</p></span></div>
            {{/if}}
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input " type="text" placeholder="Username" name="username">
                    <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input " type="password" placeholder="Password" name="password">
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
            </div>
            <button id='loginBtn' class="button has-background-meraki is-fullwidth has-text-white">Login to Corporate Network</button>
    </div>
    </form>

    </div>
</section>

<script src="js/sign-on.js"></script>