<link rel="stylesheet" href="css/sign-on.css">
<section class="section">
    <div class="container box">

        
       
        <iframe id="duo_iframe">
        </iframe>
        
    </div>
</section>

<script src="/js/Duo-Web-v2.js"></script>
<script>

    signedResponse = "{{{duoSig}}}"
    host = "{{{duoHost}}}"
    postAction = "{{{duoPost}}}"

  Duo.init({
    'host': host,
    'sig_request': signedResponse,
    'post_action' :postAction
  });

</script>