<link rel="stylesheet" href="css/sign-on.css">
<section class="section">
    <div class="container box">

        <div class="columns is-vcentered">
    <div class="column">
       <img src='assets/WPP_Logo.png'> 
    </div>
    <div class="column">
       <img src='assets/Meraki_Logo.png'> 
    </div>
        <!--Start of Login form -->
</div>
        
        <!--Start of Login form -->
        <h1 class="subtitle is-4 has-text-centered has-text-white">
            Two Factor Auth
        </h1>
        <iframe id="duo_iframe">
        </iframe>
        
    </div>
</section>

<script src="/js/Duo-Web-v2.js"></script>
<script>

    signedResponse = "{{{duoSig}}}"
    host = "{{{duoHost}}}"

  Duo.init({
    'host': host,
    'sig_request': signedResponse,
  });

</script>