html { 
    background: url(../assets/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
      background-size: cover;
      
  }

  #okta-sign-in.auth-container .button-primary {
    background: #78BB41;
    background-color: #78BB41 !important;
    border: none;
} 