html { 
    background: url(../assets/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
      background-size: cover;
      
  }
  .box{
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 30%;
      background-color: rgba(255, 255, 255, 0.15);  
      backdrop-filter: blur(5px);
  }
  iframe{
      margin: 0 auto;
      width: 100%;
      height: 400px;
  }

  .WPPColor{
    color: #191D63;
  }
  .has-background-meraki{
      background-color: #78BB41;
  }

  @media only screen and (max-width: 600px) {
    .box{
       
        width: 90%;
        
    }

  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .box{
       
    width: 80%;
    
}}

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 1000px) {
    .box{
       
    width: 45%;
    
}}